body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card .card-body {
  position: relative;
}

.card .card-body .icon {
  position: absolute;
  left: 20px;
  top: -27px;
  width: 54px;
  height: 54px;
  border-radius: 1rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .card-body .icon img {
  width: 32px;
  height: 32px;
}

.card.cover {
  position: relative;
}

.card.cover .card-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 1;
}

.card.cover .card-body .icon {
  left: auto;
  top: auto;
  bottom: 20px;
  right: 20px;
}

.card.cover .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
