/* layout CSS */

.layout-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.layout-title span {
  font-size: 18px;
}

.layout-title .txt-1920 {
  display: inline-block;
}

.layout-title .txt-1280 {
  display: none;
}

.layout-view {
  width: 1200px;
  height: 1600px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.layout-card-view {
  width: 1224px;
  height: 1600px;
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 1;
}

.layout-column {
  width: 84px;
  height: 100%;
  background: magenta;
  opacity: 0.4;
  display: block;
  float: left;
}

.layout-gutter {
  width: 16px;
  height: 100%;
  background: #dddd;
  opacity: 0.4;
  display: block;
  float: left;
}

.layout-margin {
  width: 8px;
  height: 100%;
  background: #dddd;
  opacity: 0.4;
  display: block;
  float: left;
}

.card-ui {
  background: #fff;
  border: 4px solid pink;
  box-sizing: border-box;
  margin-right: 40px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}

.size-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}

.size-info .tit {
  font-size: 24px;
  font-weight: bold;
  color: magenta;
}

.size-info p {
  font-size: 16px;
  padding-top: 8px;
}

@media (max-width: 1280px) {
  /*
    .layout-view {
        width: 900px;
    }
    .layout-title .txt-1920 {
        display: none;
    }
    .layout-title .txt-1280 {
        display: inline-block;
    }
    */
}
