.list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    padding: 0 4px;
    margin: 8px 0;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sub {
    margin: 4px 0;
  }

  &.horizontal {
    display: flex;
  }
}
