@for $i from 1 through 5 {

  // padding
  .pl-#{$i} {
    padding-left: $i*$gap;
  }

  .pr-#{$i} {
    padding-right: $i*$gap;
  }

  .pt-#{$i} {
    padding-top: $i*$gap;
  }

  .pb-#{$i} {
    padding-bottom: $i*$gap;
  }

  .py-#{$i} {
    padding-top: $i*$gap;
    padding-bottom: $i*$gap;
  }

  .px-#{$i} {
    padding-left: $i*$gap;
    padding-right: $i*$gap;
  }

  .pa-#{$i} {
    padding: $i*$gap;
  }

  // margin
  .ml-#{$i} {
    margin-left: $i*$gap;
  }

  .mr-#{$i} {
    margin-right: $i*$gap;
  }

  .mt-#{$i} {
    margin-top: $i*$gap;
  }

  .mb-#{$i} {
    margin-bottom: $i*$gap;
  }

  .my-#{$i} {
    margin-top: $i*$gap;
    margin-bottom: $i*$gap;
  }

  .mx-#{$i} {
    margin-left: $i*$gap;
    margin-right: $i*$gap;
  }

  .ma-#{$i} {
    margin: $i*$gap;
  }
}
